/* Wrapper for lazy loaded images */
.lazy-image-wrapper {
  width: 100% !important;
  height: 100% !important;
  display: block !important;
}

.lazy-image-wrapper span {
  width: 100% !important;
  height: 100% !important;
  display: block !important;
}

.lazy-load-image-background {
  width: 100% !important;
  height: 100% !important;
  display: block !important;
}

.lazy-load-image-background img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  display: block !important;
}

.lazy-load-image-background.blur {
  filter: blur(10px);
  transition: filter 0.3s;
}

.lazy-load-image-background.blur.lazy-load-image-loaded {
  filter: blur(0);
}

.lazy-load-image-loaded {
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
